*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: darkslategrey;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    position: fixed;

}
.navbarp{
    width: 50%;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
}
.navbar-button{
    background-color:darkslategrey;
   color: white;
   border:darkslategrey ;
   margin-top: 40px;
   margin-left: 40px;
   font-size: 15px;
}
.header{
    background-color: teal;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-center{
    color: white;
    text-align: center;
    


}
.header-center h1{
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-center p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.PORTFOLO-sec{
    width: 100%;
    height: 600px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.PORTFOLO-sec h2{
    width: 100%;
    color: #4C585B;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}
.PORTFOLO-img{
  width: 1000px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
 align-items: center;



}
.PORTFOLO-img img{
    width: 30%;
    height: 200px;
    margin-left: 30px;

}
.about{
 background-color: teal;
 width: 100%;
 height: 400px;
 text-align: center;
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;





}
.About-par{
    display: flex;
     width: 350px;
    height: 200px;
    justify-content: center;
    margin-bottom: 40px;
   

}
.About-par p{
    width: 50%;
    height: 100px;
    font-size: 16px;
    margin-bottom: 20px;
   
}
.about-s h2{
   font-size: 50px;
   margin-bottom: 30px;


}
.about-s a{
    text-decoration: none;
    color: white;
    border: white solid 1px;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    
}
.Contact-Mes{
 width: 100%;
 height: 500px;

 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;



}
.Contact-Me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Contact-Mes h2{
    width: 100%;
    color: #4C585B;
    
    font-size: 40px;
    
  
}
.Contact-Me-form{
  display: flex;
  
  
  width: 500px;
  
  flex-wrap: wrap;



}
.Contact-Me-form [type="text"]{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: white solid 1px;

}
.Contact-Me-form [type="email"]{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: white solid 1px;
}
.Contact-Me-form [type="tel"]{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: white solid 1px;
}
.Contact-Me-form textarea{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border: white solid 1px;
}
.Contact-Me-form [type="submit"]{
    width: 20%;
    height: 40px;
    background-color: teal;
    border: teal solid 1px;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: #4C585B;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-r1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 170px;
  
  height: 100px;
  text-align: center;


}
.footer-r1 h3{
    width: 100%;
    color: white;

}
.footer-r1 p{
    width: 100%;
    color: white;

}
.footer-r2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
  
    height: 100px;
    text-align: center;
  
  
  }
  .footer-r2 h3{
    color: white;
    width: 100%;
  
  
  }
  .footer-r3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    
    height: 100px;
    text-align: center;
  
  
  }
  .footer-r3 h3{
    color: white;
    width: 100%;
  
  
  }
  .footer-r3 p{
    color: white;
    width: 100%;
  
  
  }
  .copy{
    width: 100%;
    height: 50px;
    background-color: #7E99A3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    color: white;
    margin-left: 10px;
  }